<!DOCTYPE html>
<html >
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>


</style>
</head>
<body>
<form action="/user/" method="POST" >
  <div class="container">
  <center>  <h1> Student Registeration Form</h1> </center>
  <label> Firstname: </label>
<input type="text" name="firstname" size="15" required />
<label> Semester: </label>
<input type="text" name="Semester"  size="15" required/>
<label> GPA: </label>
<input type="text" name="GPA" size="15" required />
   <button type="submit" class="register_button">Register</button>
</div>
</form>
</body>
</html>
